table
  {
  border-collapse:collapse;
  }

table, td, th
  {
  border:1px solid black;
  }
#name{
  width:80px;
}

table tr th,table tr td{
  text-align: center;
}

#menu-container{
    border-right: 1px solid #ccc;
    display: flex;
    /*-webkit-flex: 1;*/
    -webkit-display: flex;
    width:700px;
}
#menu-wrapper{
  flex:1;
  -webkit-flex: 1;
  height: 800px;
  border-right: 1px solid #333;
}

#shop-wrapper{
  flex:1;
  -webkit-flex: 1;
  margin-left: 20px;
}
user{
  height: 160px;
  display: block;

}
#menu{
  margin-top: 30px;
}
#button{
  margin-top:20px;
}

h4{
  color: #046fa5;
}
#buttonadd{
  background-color: #78909c;
  border:none;
  color:#fff;
  border-radius:4px;
}