
<div id='menu-container'>
  <div id='menu-wrapper'>
    <user #user  (onVoted)="onVoted($event)"></user>
    <hr>
    <div id="menu">
      <div style='margin-bottom:18px'>
         <span style='margin-bottom: 18px;font-size:18.7px'>菜单</span>
         <i style='color:red'>注意请先添加顾客再点餐</i>
      </div>
      
      <h4 *ngIf='user.current_user'>{{user.current_user}}-->点餐中...</h4>
      <table border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <!-- <th>数量</th> -->
        <th>购买</th>
      </tr>
      <tr *ngFor="let food of foods$ | async">
        <td>{{food.id}}</td>
        <td id="name">{{food.name}}</td>
        <td>{{food.price}}</td>
        <!-- <td>{{food.num}}</td> -->
        <td><button id='buttonadd' [disabled]='isDisabled' id='buttonadd'(click)='addToShopCar(food)'>+</button></td>
      </tr>
    </table>
    <button id='button' color='accent' md-raised-button (click)='changeMenu()'>确认更新</button>
    </div>      
  </div>
  

<div id='shop-wrapper'>
  <shop-car [current_user]='user.current_user'></shop-car>
</div>

</div>
   
