#button{
  height: 30px;
  line-height: 30px;
}

table tr th,table tr td{
  text-align: center;
}

#button{
  background-color: #78909c;
  border:none;
  color:#fff;
  border-radius:4px;
  padding-top: 0;
}