<div>
 <div>
    <label>顾客姓名:</label> <input style='height:23px;'#userName />
    <button id='button' color='accent' md-raised-button (click)="add(userName.value);$event.stopPropagation(); userName.value=''">
      添加顾客
    </button>
    

  </div>
  <!-- <user-search></user-search> -->
  <ul>
    <li *ngFor='let user of users$ | async'>
      {{user.name}}
    <a href=""><span (click)="actions.delete(user);$event.preventDefault();">X</span></a>
    <a href=""><span (click)="toggleisUpdate();$event.preventDefault();">update</span></a>
    <input *ngIf='isUpdate' type="text" placeholder='update' [(ngModel)]="user.name">
    <button *ngIf='isUpdate' (click)="update(user); $event.preventDefault();
      $event.stopPropagation();">Save</button>
    <button id='button' (click)='goToOrder(user)'>点餐</button>
    </li>
  </ul> 
</div>