#shopcar-container{
  padding-bottom: 20px;
}

table
  {
  border-collapse:collapse;
  }

table, td, th
  {
  border:1px solid black;
  }
#name{
  width:80px;
}

table tr th,table tr td{
  text-align: center;
}


button{
  background-color: #78909c;
  border:none;
  color:#fff;
  border-radius:4px;
  height:25px;
}
h4{
  color: #046fa5;
}
#total{
  color:red;
}