<div id='stock-container'>
  <h3>库存</h3>
  <div>
  <!-- <label>stock name:</label> <input #stockName /> -->
  <button (click)="add();" style='margin-bottom:15px'>
    添加
  </button>
    <form style='margin-bottom:18px' *ngIf='isAdd' #formData='ngForm' (ngSubmit)="onAddSubmit(formData);$event.preventDefault();$event.stopPropagation();" >
    <input type="text" name='id' placeholder='id' [(ngModel)]='id'>
    <input type="text" name='name' placeholder='name'[(ngModel)]='name'>
    <input type="text" name='price' placeholder='price'[(ngModel)]='price'>
    <input type="text" name='num' placeholder='num' [(ngModel)]='num'>
    <button type='submit'>保存</button> 
  </form>
  <form action="" (ngSubmit)="onSubmit(stock);$event.preventDefault();" *ngIf='isUpdate'>
    <input type="text" name='name' placeholder='name' [(ngModel)]="stock.name">
    <input type="text" name='price' placeholder='price' [(ngModel)]="stock.price">
    <input type="text" name='stock' placeholder='num' [(ngModel)]="stock.num">
    <button type='submit'>保存</button> 
  </form>
  </div>

   
<div>
    <table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>num</th>
    <!-- <th>剩余</th> -->
    <th>加入菜单</th>
    <th>删除</th>
    <th>编辑</th>
   
  </tr>
  <tr *ngFor='let stock of stocks$ | async'>
    <td>{{stock.id}}</td>
    <td id="name">{{stock.name}}</td>
    <td>{{stock.price}}</td>
    <td> {{stock.num}}</td>
    <!-- <td>{{stock.total}}</td> -->
    <td><button (click)='addToMenu(stock)'>+</button></td>
    <td><button (click)='delete(stock)'>delete
    </button></td>
    <td><button (click)='update(stock)'>编辑</button></td>
    <td>
   
  </tr>

</table>


</div>
  
<!-- <h2>{{sumTotal}}</h2> -->
</div>
