@import '~@angular/material/core/theming/all-theme';

@include mat-core();


$app-primary: mat-palette($mat-teal);
$app-accent:  mat-palette($mat-blue-grey, A400, A500, A600);

$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// @import '~@angular/material/core/theming/all-theme';
// @include mat-core();

// $app-primary: mat-palette($mat-blue-grey);
// $app-accent:  mat-palette($mat-amber);
// $app-warn: mat-palette($mat-red);
// $app-grey: mat-palette($mat-grey);


// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// @include angular-material-theme($app-theme);